@use '../../variables.scss';

.container {
    background-color: variables.$grey-bg;
    padding: 50px 40px;
    border-radius: 25px;
    margin: 0 45px;
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    list-style-type: none;

    @media (max-width: variables.$breakpoint-xl) {
        justify-content: space-evenly;
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: variables.$breakpoint-md) {
        padding: 0;
        background-color: transparent;
        margin: 30px 20px;
        grid-template-columns: 1fr;
    }
}