@use '../../variables.scss';

.container {
    position: relative;

    &__img {
        height: 340px;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;

        @media (max-width: variables.$breakpoint-md) {
            height: 255px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        height: 340px;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 10px;
        background: linear-gradient(transparent, #040404);

        @media (max-width: variables.$breakpoint-md) {
            height: 255px;
        }
    }

    &__title {
        text-decoration: none;
        color: white;
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 18px;
        padding-right: 20px;
    }
}