$breakpoint-md : 768px;
$breakpoint-lg : 1024px;
$breakpoint-xl : 1280px;

.container {
    padding: 30px 100px;

    @media (max-width: $breakpoint-md) {
        padding: 30px 20px;
    }

    &__content {
        list-style: none;
    }
}